img {
  height:200px;
  border-radius:75px;
}

#hi {
 display:block
}

#hello {
  display:block
}

#bye {
  display:block
}

.writing {
 position: relative;
 padding: 15px;
 display: inline;
}

p{
color:white
}
 

h1{
color:white;
}

body {
background-color: skyblue;
}













